<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>网上笔记</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/maintable.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/error.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/button1.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{/jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
        <script type="text/javascript">
            $(function(){
                $("#password").blur(function(){
                    VerPassword();
                });
                $("#password").click(function(){
                    $("#passwordError").text("");
                });
                
                $("#passwordNew").blur(function(){
                    VerPasswordNew();
                });
                $("#passwordNew").click(function(){
                    $("#passwordNewError").text("");
                });
                
                $("#password2").blur(function(){
                    VerPassword2();
                });
                $("#password2").click(function(){
                    $("#password2Error").text("");
                });
                
                $("#updatePasswordForm").submit(function(){
                    ClearErrorSpan();
                    if(VerPassword() == false || VerPasswordNew() == false || VerPassword2() == false){
                        return false;
                    }
                });
            });
            
            function ClearErrorSpan(){
                $("#passwordError").text("");
                $("#passwordNewError").text("");
                $("#password2Error").text("");
            }
            
            function VerPassword(){
                var password = $("#password").val();
                var verResult = false;
                $.ajax({
                    type:"post",
                    url:"/webnote/userRest/verPassword",
                    async:false, 
                    data:{
                        password : password
                    },
                    dataType:"text",
                    success:function(result){
                        if("success" == result){
                            verResult = true;
                        }
                        if("success" != result){
                            $("#passwordError").text(result);
                        }
                    },
                    error: function () {
                        alert("异步请求接受失败");
                    }
                });
                return verResult;
            }
            
            function VerPasswordNew(){
                var password = $("#passwordNew").val();
                if("" == password){
                    $("#passwordNewError").text("密码不能为空");
                    return false;
                }
                if(password.length < 6 || password.length > 20){
                    $("#passwordNewError").text("密码长度需为6-20位");
                    return false;
                }
            }
            
            function VerPassword2(){
                var password = $("#passwordNew").val();
                var password2 = $("#password2").val();
                if(password2 != password){
                    $("#password2Error").text("两次密码输入不一致");
                    return false;
                }
            }
        </script>
        
    </head>
    <body>
        <table id="maintable">
            <tr>
                <td></td>
                <td id="toptd">
                    <div id="topdiv">
                        <span style="font-size:35px; color: blue;margin-left:300px;margin-top: 20px;">网上笔记</span>
                        <div style="margin-left:350px;margin-top: 30px;">
                            欢迎 <span th:text="${session.sessionUser.nickName}" style="font-size: 20px; color: blueviolet;"></span> 登录网上笔记!!<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;<a href="main.html" th:href="@{http://localhost:8080/webnote/user/logout}" style="color: green;">退出登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="main.html" th:href="@{http://localhost:8083/webnote/score/myscore}" style="color: green;">积分系统</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="main.html" th:href="@{http://localhost:8080/webnote/user/userInfo}" style="color: green;">用户信息</a>
                        </div> 
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td id="maintd" style="background: url(/image/notebackground.jpg); ">
                    <div style="background: url(/image/userInfoBackground.jpg); margin-top: 50px; margin-left: 120px; width:900px;height: 500px;">
                        <div style="float:left; width:140px; height:480px; margin-top: 50px; margin-left: 100px; font-size: 24px;">
                        <table>
                            <tr><td style="height: 40px;"><a href="main.html" th:href="@{/webnote/user/userInfoEdit}" style="color: green;margin-left: 25px;">基本信息</a></td></tr>
                            <tr><td style="height: 40px;"><a href="main.html" th:href="@{/webnote/user/userInfoEdit_2}" style="color: green;margin-left: 25px;">个人介绍</a></td></tr>
                            <tr><td style="height: 40px;"><a href="main.html" th:href="@{/webnote/user/userInfoEdit_3}" style="color: green;margin-left: 25px;">补充信息</a></td></tr>
                            <tr><td style="height: 40px;"><a href="main.html" th:href="@{/webnote/user/userInfoEdit_4}" style="color: green;margin-left: 25px;">头像上传</a></td></tr>
                            <tr><td style="height: 40px;"><span style="color: blue;margin-left: 25px;">修改密码</span></td></tr>
                            <tr><td style="height: 40px;"><a href="main.html" th:href="@{/webnote/user/userInfoEdit_6}" style="color: green;margin-left: 25px;">修改邮箱</a></td></tr>
                            <tr><td style="height: 40px;"><a href="main.html" th:href="@{/webnote/user/userInfoEdit_7}" style="color: green;margin-left: 25px;">手机绑定</a></td></tr>
                        </table>
                        </div>
                        <div style="float:left; width:500px; height:480px; margin-top: 80px; margin-left: 150px; ">
                        <form th:action="@{/webnote/user/updatePassword}" method="post" id="updatePasswordForm">
                        <table style="width:450px;">
                            <tr><td colspan="2">&nbsp;
                                    <span id="sucessspan" style="color:green;" th:text="${msgSuccess}"></span>
                                </td><td style="width: 120px;"></td></tr>
                            <tr><td>原用户密码：</td>
                                <td>
                                    <input type="password" name="password" style="height:20px;width: 200px;" onkeyup="value=value.replace(/[^\w]/ig,'')" id="password" th:if="${result == null}">
                                    <input type="password" name="password" style="height:20px;width: 200px;" onkeyup="value=value.replace(/[^\w]/ig,'')" id="password" th:if="${result != null}" th:value="${result.password}">
                                </td>
                                <td>
                                    <span id="passwordError" class="errorspan" th:if="${result == null}"></span>
                                    <span id="passwordError" class="errorspan" th:if="${result != null}" th:text="${result.passwordError}"></span>
                                </td>
                            </tr>
                            <tr><td>新用户密码：</td>
                                <td>
                                    <input type="password" name="passwordNew" style="height:20px;width: 200px;" onkeyup="value=value.replace(/[^\w]/ig,'')" id="passwordNew" th:if="${result == null}">
                                    <input type="password" name="passwordNew" style="height:20px;width: 200px;" onkeyup="value=value.replace(/[^\w]/ig,'')" id="passwordNew" th:if="${result != null}" th:value="${result.passwordNew}">
                                </td>
                                <td>
                                    <span id="passwordNewError" class="errorspan" th:if="${result == null}"></span>
                                    <span id="passwordNewError" class="errorspan" th:if="${result != null}" th:text="${result.passwordNewError}"></span>
                                </td>
                            </tr>
                            <tr><td>重复新密码：</td>
                                <td>
                                    <input type="password" name="password2" style="height:20px;width: 200px;" onkeyup="value=value.replace(/[^\w]/ig,'')" id="password2" th:if="${result == null}">
                                    <input type="password" name="password2" style="height:20px;width: 200px;" onkeyup="value=value.replace(/[^\w]/ig,'')" id="password2" th:if="${result != null}" th:value="${result.password2}">
                                </td>
                                <td>
                                    <span id="password2Error" class="errorspan" th:if="${result == null}"></span>
                                    <span id="password2Error" class="errorspan" th:if="${result != null}" th:text="${result.password2Error}"></span>
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr><td colspan="3"><input type="submit" style="height:40px; width: 100px;" class="blue" value="修改密码"></td></tr>
                        </table>
                        </form>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td id="bottomtd">
                    <div id="bottomdiv">
                        
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </body>
</html>
