<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>网上笔记</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/maintable.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/button1.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/pagePubTop.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/pageLogin.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{/jquery/jquery-3.3.1.min.js}" type="text/javascript"></script>
        <script type="text/javascript">
            $(function(){
                $("#userName").blur(function(){
                    VerUserName();
                });
                $("#userName").click(function(){
                    $("#errorspan").text("");
                });
                
                $("#password").blur(function(){
                    VerPassword();
                });
                $("#password").click(function(){
                    $("#errorspan").text("");
                });
                
                $("#loginForm").submit(function(){
                    ClearErrorSpan();
                    if(VerUserName() == false){
                        return false;
                    }
                    if(VerPassword() == false){
                        return false;
                    }
                });
                
                ChangeImg();//调用change函数 
            });
            
            var imgArray = new Array("/image/loginpageimage1.jpg","/image/loginpageimage2.jpg", "/image/loginpageimage3.jpg","/image/loginpageimage4.jpg","/image/loginpageimage5.jpg");
            var i=0; //计数器
            var len = imgArray.length;//imgArray数组长度
            
            function ChangeImg() {
                //若i小于imgArray数组长度，递归调用change()函数
                if (i < len) {
                    $("#img").attr("src", imgArray[i++]);//改变img的src属性
                    if(i == len){
                        i =0;
                    }
                    setTimeout("ChangeImg()", 2000);//设置2秒刷新一次
                }
            }
            
            function ClearErrorSpan(){
                $("#errorspan").text("");
            }
            
            function VerUserName(){
                var userName = $("#userName").val();
                if(userName.length < 6 || userName.length > 20){
                    $("#errorspan").text("账号需为6-20位字母或数字");
                    return false;
                }
                var verResult = false;
                $.ajax({
                    type:"post",
                    url:"/webnote/userRest/verLoginUserName",
                    async:false, 
                    data:{
                        userName : userName
                    },
                    dataType:"text",
                    success:function(result){
                        if("success" == result){
                            verResult = true;
                        }
                        if("success" != result){
                            $("#errorspan").text(result);
                        }
                    },
                    error: function () {
                        alert("异步请求接受失败");
                    }
                });
                return verResult;
            }
            
            function VerPassword(){
                var password = $("#password").val();
                if(password.length < 6 || password.length > 20){
                    $("#errorspan").text("密码需为6-20位字母或数字");
                    return false;
                }
            }
        </script>
        
    </head>
    <body>
        <table id="maintable">
            <tr>
                <td></td>
                <td id="toptd">
                    <div id="topdiv">
                        <span style="font-size:35px; color: blue;margin-left:300px;margin-top: 20px;">网上笔记</span>
                        <div style="margin-left:350px;margin-top: 30px;">
                            欢迎使用网上笔记!!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="main.html" th:href="@{/webnote/user/registPre}" class="topLink">新用户注册</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="main.html" th:href="@{http://localhost:8082/webnote/manager/main}" class="topLink">进入管理员系统</a>
                        </div> 
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td id="maintd">
                    
                    <div id="imgDiv">
                        <img id="img" alt="滚动图片" style="width:500px;height:300px;">
                    </div>
                    <div style="float:left; height: 300px; width: 500px; margin-top:300px;margin-left: 50px;">
                        <table style="width: 500px;">
                            <tr><th colspan="2" style="color: green;" th:text="${message}"></th></tr>
                            <tr><td colspan="2">&nbsp;</td></tr>
                            <form th:action="@{/webnote/user/login}" method="post" id="loginForm">
                            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;账号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <!--第一次进入此页面，回显数据为空-->
                                    <input type="text" id="userName" name="userName" style="width: 280px;height: 25px;" onkeyup="value=value.replace(/[^\w]/ig,'')" th:if="${result == null}">
                                    <!--登录失败返回，回显数据不为空-->
                                    <input type="text" id="userName" name="userName" style="width: 280px;height: 25px;" onkeyup="value=value.replace(/[^\w]/ig,'')" th:if="${result != null}"
                                           th:value="${result.userName}">
                                </td>
                            </tr>
                            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <!--第一次进入此页面，回显数据为空-->
                                    <input type="password" id="password" name="password" style="width: 280px;height: 25px;" onkeyup="value=value.replace(/[^\w]/ig,'')" th:if="${result == null}">
                                    <!--登录失败返回，回显数据不为空-->
                                    <input type="password" id="password" name="password" style="width: 280px;height: 25px;" onkeyup="value=value.replace(/[^\w]/ig,'')" th:if="${result != null}"
                                           th:value="${result.password}">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;
                                    <!--第一次进入此页面，回显数据为空-->
                                    <span style="color: red; font-size: small;" id="errorspan" th:if="${result == null}"></span>
                                    <!--登录失败返回，回显数据不为空-->
                                    <span style="color: red; font-size: small;" th:text="${result.userNameError}" id="errorspan" th:if="${result != null and result.userNameError != null}"></span>
                                    <span style="color: red; font-size: small;" th:text="${result.passwordError}" id="errorspan" th:if="${result != null and result.userNameError == null}"></span>
                                </td>
                            </tr>
                            <tr><td colspan="2">
                                    <a href="main.html" th:href="@{/webnote/user/registPre}" style="color: green;">新用户注册</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="submit" value="   用  户  登  录   " class="blue medium"></td></tr>
                            </form>
                            <tr><th colspan="2"></th></tr>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td id="bottomtd">
                    <div id="bottomdiv">
                        
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </body>
</html>
